.header {
  position: relative;
  display: flex;
  max-width: 1440px;
}

.container {
  display: flex;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0px;
  max-width: 1200px;
}

.header__logo {
  display: block;
  padding-top: 20px;
  padding-left: 70px;
}

.content {
  width: 100%;
}

.content__container {
  display: flex;
  flex-flow: column;
  padding-left: 70px;
  align-items: flex-start;
  margin: 0px;
}

.header__menu > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}

.header__menu {
  display: block;
}

.header__menu_link > a {
  text-decoration: none;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: medium;
  font-weight: 400;
  line-height: 20px;
}

.header__menu_link {
  list-style: none;
}

.button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-weight: 700;
  min-width: 200px;
}

.button_primary {
  background-color: #e3f5f5;
  color: #03b2a5;
}

.button_secondary {
  background-color: #35b3a9;
  color: #fff;
}

.header__button {
  display: block;
  padding-top: 14px;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.breadcrumb > ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.breadcrumb__item {
  list-style: none;
  color: #333333b2;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 30px;
  margin: 0px;
  padding-left: 5px;
}

.breadcrumb__item_glav {
  list-style: none;
  color: #333333b2;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 30px;
  margin: 0px;
  padding-left: 10px;
}
.breadcrumb__item::after {
  content: " ";
  background-image: url("./svg/strelka2.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.breadcrumb__item::nth-of-type(even) {
  margin-left: 8px;
}

.main {
  width: 100%;
  display: flex;
}

.content__header {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-size: 48px;
  color: #333333;
  font-weight: 700;
  padding-bottom: 32px;
  margin: 0px;
}

.articles-filter {
  display: flex;
  margin-top: 32px;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: none;
  flex-wrap: wrap;
  padding-bottom: 24px;
  margin: 0px;
  padding-left: 69px;
  height: 32px;
  overflow-x: auto;
  scrollbar-width: none;
}

.articles-filter__item {
  border-radius: 24px;
  padding: 6px 8px;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  box-shadow: #c1c5c0 0px 0px 0px 1px inset;
  gap: 4px;
}

.articles-filter__item:hover {
  box-shadow: #16c8bb 0px 0px 0px 2px inset;
}

.articles-filter__item-point {
  box-shadow: #16c8bb 0px 0px 0px 2px inset;
}

.articles-section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 24px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
}

.articles-section:first-of-type {
  margin-top: 32px;
}

.article {
  display: grid;
  grid-column: span 6;
  grid-template-columns: 100%;
  grid-template-rows: 260px 1fr;
  grid-template-areas:
    "article-image article-image"
    "article-body article-body";
}

.article:nth-child(-n + 3) {
  grid-template-rows: 260px 1fr;
  grid-column: span 3;
}

.article:nth-child(n + 3) {
  grid-template-rows: 260px 1fr;
  grid-column: span 2;
}

.article__body {
  grid-area: article-body;
  border: 1px solid #dedede;
  display: flex;
  flex-flow: column;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
}

.article__image {
  grid-area: article-image;
  display: flex;
  width: 100%;
}

.article__image > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.article__header {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  padding-bottom: 4px;
}
.article__author {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #494949;
  font-weight: 400;
  padding-bottom: 8px;
}

.article__diskription {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  padding-bottom: 68px;
}

.article__date {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #868686;
  font-weight: 400;
  padding: 100px 0px 0px 16px;
}

.content__more {
  display: flex;
  padding: 56px 0px 96px 600px;
}

.images {
  position: absolute;
  top: -250px;
  left: 15px;
  display: flex;
  gap: 15px;
  flex-flow: column;
  justify-content: flex-start;
}
.footer {
  max-height: 302px;
  max-width: 1440px;
  background-color: #2963a3;
  position: relative;
}

.article__footer {
  display: flex;
  flex-direction: column;
  gap: 91.5px;
  height: 184px;
  width: 1200px;
  padding-left: 60px;
  padding-top: 40px;
  padding-right: 60px;
  justify-content: space-between;
}

.footer__menu > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  width: 310px;
  height: 184px;
  list-style: none;
}

.footer__menu_link > a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
}

.footer__menu_link {
  list-style: none;
}

.footer__header {
  width: 356px;
  height: 52px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #fff;
}

.footer__subtitle {
  width: 486px;
  height: 54px;
  gap: 0px;
  opacity: 0.7px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #fff;
}

.footer__image > img {
  width: 221px;
  height: 122px;
  gap: 40px;
}

.footer__image {
  width: 221px;
  height: 122px;
  gap: 40px;
}

.footer__image_icon {
  position: absolute;
  top: 120px;
}

.footer__line > hr {
  position: absolute;
  top: 240px;
  left: 90px;
  gap: 0px;
  opacity: 0.3px;
}

.header__line > hr {
  position: absolute;
  top: 76px;
}

.footer__menu-href > ul {
  display: flex;
  flex-direction: row;
  width: 563px;
  height: 20px;
  padding-top: 18px;
  padding-left: 88px;
  gap: 48px;
  opacity: 0px;
  list-style: none;
}

.footer__menu-href_link > a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.footer__menu-href_link {
  list-style: none;
}

@media screen and (max-width: 414px) {
  .header__logo {
    width: 48px;
  }
  .content__header {
    font-size: 32px;
  }
  .footer {
    height: 746px;
  }
}

@media screen and(max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__button {
    display: none;
 }
  .header__burger {
    display: block;
  }
  .footer {
    height: 454px;
  }
}

@media screen and(max-width: 1024px) {
  .articles-filter {
    flex-wrap: wrap;
  }
}

@media screen and(min-width: 375px) {
  .content__header {
    margin-top: 32px;
    font-size: 48px;
  }
}

@media screen and(min-width: 768px) {
  .article:nth-child(-n + 3) {
    grid-template-rows: 404px 1fr;
  }

  .article:nth-child(n + 3) {
    grid-template-rows: 206px 1fr;
    grid-column: span 3;
  }
}

@media screen and(min-width: 1024px) {
  .article:nth-child(-n + 3) {
    grid-column: span 3;
    grid-template-rows: 260px 1fr;
  }

  .article:nth-child(n + 3) {
    grid-column: span 2;
    grid-template-rows: 260px 1fr;
  }
}

